In [1]:

import os
import pandas as pd 
import matplotlib.pyplot as plot 
import numpy as np

In [2]:
#reading CSV file into DataFrame 

dataset1 = pd.read_csv('Dataset1.csv') 

pd.set_option('display.max_columns', None)

dataset1.head(5)

,patient_id,date_of_birth,medical_condition,co_morbidity,ethnicity,risk_factor,lmp,cycle_length,edd,number_of_babies,other checks,infection_history,past_medical_history,pastPregnancy,medications
0,6,30/01/1990,POSTPARTUM,diabetes,Mixed,LOW,01/06/2022,28,08/03/2023,1,NaN,NaN,diabetes,para=>1living=>1gravida=>1ectopics=>has_risk=>...,dose=>1name=>aspirin 81 MG Delayed Release Ora...
1,7,22/10/1986,POSTPARTUM,obesity,Non Hispanic White,LOW,13/07/2021,28,19/04/2022,1,RHNegative,"hep_b,chicken_pox","Covid,obesity,drug_allergy_list,advanced_mater...",para=>3living=>3gravida=>4ectopics=>has_risk=>...,dose=>81name=>aspirin 81 MG Delayed Release Or...
2,8,05/07/1982,PREGNANCY,obesity,Hispanic and Latino,MEDIUM,23/07/2021,28,29/04/2022,1,NaN,"gen_herp,chicken_pox","obesity,diabetes,hepatitis_liver_disease,histo...",para=>0living=>gravida=>1ectopics=>has_risk=>Y...,dose=>5mgname=>glyburide 5 MG / metformin hydr...
3,9,06/12/1983,PREGNANCY,NaN,Non Hispanic White,LOW,20/10/2021,28,27/07/2022,1,chk_ntd,NaN,"diabetes,allergies,psychiatric,drug_allergy_list",para=>0living=>gravida=>2ectopics=>has_risk=>Y...,"dose=>5 unitsname=>3 ML insulin isophane, huma..."
4,13,16/03/1996,POSTPARTUM,obesity,Hispanic and Latino,MEDIUM,30/09/2021,28,07/07/2022,1,NaN,chicken_pox,obesity,para=>1living=>1gravida=>1ectopics=>has_risk=>...,dose=>1name=>aspirin 81 MG Delayed Release Ora...

In [3]:

# splitting the column 'pastPregnancy' by > and storing it in a new dataframe

temp = dataset1['pastPregnancy'].str.split('>', expand=True)

# renaming required columns from index values

temp = temp.rename(columns={temp.columns[1]: 'A'})
temp = temp.rename(columns={temp.columns[2]: 'B'})
temp = temp.rename(columns={temp.columns[3]: 'C'})

# separating first character in the columns

temp['para'] = temp['A'].str[:1]
temp['living'] = temp['B'].str[:1]
temp['gravida'] = temp['C'].str[:1]

# cleaning the data

temp['para'] = temp['para'].str.replace('l','0')
temp['living'] = temp['living'].str.replace('g','0')
temp['gravida'] = temp['gravida'].str.replace('e','0')

# converting object type columns to integer type

temp['para'] = temp['para'].astype(str).astype(int)
temp['gravida'] = temp['gravida'].astype(str).astype(int)
temp['living'] = temp['living'].astype(str).astype(int)

# calculating gravida-para

dataset1['previous_unsuccessful_pregnancies'] = temp['gravida'] - temp['para']

In [5]:
# reading the dataframe into csv

#dataset1.to_csv(r'dataset1test.csv')

# Merging  Datasets

In [6]:
df2 = pd.read_csv("Dataset2.csv")

df2.head()

,patient_id,appointment_type,appointment_status,doctor_advice_notes,clinical_observations,diagnosis_title,appointment_reason,start_time,end_time
0,7,virtual,completed,Client discharged weeks ago. Had healthy baby ...,Discharged. Had healthy baby girl,Adhoc Consult,Ad Hoc Consult,27/04/2022 18:00,27/04/2022 18:15
1,8,virtual,completed,"Told her to eat a light snack at bedtime, 1/2 ...",Patient says her BS a little low in morning wh...,"weight, Blood sugars at 09:00 am Apr 05, 2022","weight, Blood sugars",05/04/2022 13:00,05/04/2022 13:15
2,8,virtual,completed,On last visit I had suggested patient eat a li...,Patient says trying to eat healthy. Checking b...,"weight, Blood sugars at 09:00 am Apr 12, 2022","weight, Blood sugars",12/04/2022 13:00,12/04/2022 13:15
3,8,virtual,completed,"Continue with same diet, drinking fluids esp. ...",Client called on phone unable to connect was i...,"weight, Blood sugars at 09:00 am Apr 19, 2022","weight, Blood sugars",19/04/2022 13:00,19/04/2022 13:15
4,8,virtual,completed,call me if any problems,patient doing well BS 68. No problems.,Adhoc Consult,Ad Hoc Consult,22/03/2022 13:00,22/03/2022 13:15

In [7]:
df3 = pd.read_csv("Dataset3.csv",header=None)
col_names =["patient_id","appointment_type","appointment_status","clinical_observations_1","diagnosis_title","appointment_reason_1","start_time","end_time","info"]
df3.columns = col_names
df3.head()

,patient_id,appointment_type,appointment_status,clinical_observations_1,diagnosis_title,appointment_reason_1,start_time,end_time,info
0,7,virtual,expired,NaN,NaN,f/u with wt and doppler,11/03/2022 15:30,11/03/2022 16:00,NaN
1,7,virtual,expired,NaN,NaN,follow up,14/03/2022 13:00,14/03/2022 13:15,NaN
2,7,clinic,inprogress,NaN,NaN,Ad Hoc Consult,15/03/2022 12:29,15/03/2022 12:44,NaN
3,7,virtual,completed,NaN,Adhoc Consult,Ad Hoc Consult,16/03/2022 17:45,16/03/2022 18:00,NaN
4,7,virtual,expired,NaN,NaN,weight,21/03/2022 13:30,21/03/2022 13:45,NaN

In [8]:
df2= df2.drop(["appointment_type","appointment_status","diagnosis_title","start_time","end_time"],axis=1)

df2.head()

,patient_id,doctor_advice_notes,clinical_observations,appointment_reason
0,7,Client discharged weeks ago. Had healthy baby ...,Discharged. Had healthy baby girl,Ad Hoc Consult
1,8,"Told her to eat a light snack at bedtime, 1/2 ...",Patient says her BS a little low in morning wh...,"weight, Blood sugars"
2,8,On last visit I had suggested patient eat a li...,Patient says trying to eat healthy. Checking b...,"weight, Blood sugars"
3,8,"Continue with same diet, drinking fluids esp. ...",Client called on phone unable to connect was i...,"weight, Blood sugars"
4,8,call me if any problems,patient doing well BS 68. No problems.,Ad Hoc Consult

In [9]:
df3= df3.drop(["appointment_type","appointment_status","diagnosis_title","start_time","end_time"],axis=1)
df3.head()

   patient_id clinical_observations_1     appointment_reason_1 info
0           7                     NaN  f/u with wt and doppler  NaN
1           7                     NaN                follow up  NaN
2           7                     NaN           Ad Hoc Consult  NaN
3           7                     NaN           Ad Hoc Consult  NaN
4           7                     NaN                   weight  NaN

In [10]:
def concat_values(series):
    return ','.join(str(x) for x in series)

df2 = df2.groupby('patient_id')[['doctor_advice_notes', 'clinical_observations','appointment_reason']].agg(concat_values).reset_index()

In [11]:
df3 = df3.groupby('patient_id')[[ 'clinical_observations_1','appointment_reason_1','info']].agg(concat_values).reset_index()

In [12]:
df_merged = pd.merge(df2, df3, on='patient_id')

In [13]:
df_merged["full_clinical_obs"] =  df_merged['clinical_observations']+df_merged['clinical_observations_1']
df_merged["full_Appointment_reasons"] =  df_merged['appointment_reason']+df_merged['appointment_reason_1']
df_merged = df_merged.drop(["clinical_observations","clinical_observations_1","appointment_reason","appointment_reason_1"],axis=1)

In [158]:
df =  pd.merge(dataset1,df_merged, on="patient_id",how ='outer')

In [159]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], format='%d/%m/%Y')
df['edd'] = pd.to_datetime(df['edd'], format='%d/%m/%Y')

In [160]:
years, months = divmod((df['edd'] - df['date_of_birth']).dt.days, 365)
df['Age_at_pregnancy'] = years.round()

In [161]:
##df.to_csv(r'final_dataset.csv')

# Past Medical History

In [162]:
df['past_medical_history'] = df['past_medical_history'].apply(str)

In [163]:
all_medical =''
for index, row in df.iterrows():
    if row['past_medical_history']!= "nan":
        all_medical += row['past_medical_history']
    all_medical += ','

In [164]:
list1 = all_medical.split(",")
while '' in list1:
    list1.remove('')

In [165]:
list1 = list(set(list1))

In [166]:
#list1.insert(0,'patient_id')
past_medical_df = pd.DataFrame(columns = (['patient_id']+list1))

In [167]:
past_medical_df

Empty DataFrame
Columns: [patient_id, infertility, kidney_disease_uti, other_past_medical_history, drug_allergy_list, allergies, operation_hospitalizations, obesity, relevant_family_history, pulmonary_tb_asthma, thyroid, street_drugs, neurologic_epilepsy, Covid, auto_immune_disorder, tobacco, breast, hepatitis_liver_disease, history_of_abnormal_pap, hypertension, history_of_blood_transfs, advanced_maternal_age, gyn_surgery, diabetes, other_allergy_list, heart_disease, psychiatric, uterine_anomaly, alcohol]
Index: []

In [168]:
for index, row in df.iterrows():
    i =  row['past_medical_history']
    flag_list = []
    check_list = i.split(',')
    flag_list.append(row["patient_id"])
    for j in list1:
        if i =='nan':
            flag_list.append(0)
        elif j in check_list:
            flag_list.append(1)
        else:
            flag_list.append(0)
    past_medical_df = past_medical_df.append(pd.Series(flag_list, index = (['patient_id']+list1)), 
           ignore_index=True)

In [169]:
past_medical_df

,patient_id,infertility,kidney_disease_uti,other_past_medical_history,drug_allergy_list,allergies,operation_hospitalizations,obesity,relevant_family_history,pulmonary_tb_asthma,thyroid,street_drugs,neurologic_epilepsy,Covid,auto_immune_disorder,tobacco,breast,hepatitis_liver_disease,history_of_abnormal_pap,hypertension,history_of_blood_transfs,advanced_maternal_age,gyn_surgery,diabetes,other_allergy_list,heart_disease,psychiatric,uterine_anomaly,alcohol
0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,7,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,8,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0
3,9,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
4,13,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,196,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
93,197,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
94,208,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
95,210,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0
96,211,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0